.form-inputs label{
    color: white;
    margin-bottom: 5px;
}
.form-inputs div{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}
.form-inputs input{
    width: 100%;
    outline: none;
    border-radius: 8px;
    padding: 0 10px;
    color: white;
    min-height: 35px;
}
